# Example file for ENV variables.

SQLALCHEMY_USER='username'
SQLALCHEMY_PASSWORD='password'
SQLALCHEMY_HOST='amazonaws'
SQLALCHEMY_DATABASE='database-name'
SQLALCHEMY_TEST='test database URI'
SECRET_KEY='secret key'