<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <header>
        {% if g.user %}
            <a href="/users/{{g.user.id}}">User Profile</a>
            <form action="/logout", method="POST">
                <button>Logout</button>
            </form>
        {% else %}
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        {% endif %}
        <a href="/mods">Mods</a>
        <a href="/search">Search</a>
    </header>
    {% for msg in get_flashed_messages() %}
    <p>{{msg}}</p>
    {% endfor %}
    {% block content %}{% endblock %} 
</body>
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
</html>