{% extends 'base.html' %}

{% block content %}

{{ form.hidden_tag() }}
<h2>Login:</h2>
<form method="POST" class="card maxContent" id="formLogin">
    <div class="container-fluid">
        {{ form.hidden_tag() }}

        {% for field in form 
            if field.widget.input_type != 'hidden' %}
        <p>
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{field.label}}
            {{field}}
        </p>
        {% endfor %}
        <div class="d-flex flex-row">
            <button id="addButton" class="btn btn-primary col-sm-6">Submit</button>
            <form action="{{ url_for('search_page')}}" method="GET">
                <button class="btn btn-secondary col-sm-6">Back</button>
            </form>
        </div>
    </div>
    
</form>

{% endblock %}