{% extends 'base.html' %}

{% block content %}

{{ form.hidden_tag() }}
<h2>Login:</h2>
<form id="formLogin" method="POST">
    {{ form.hidden_tag() }}
    
        {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{field.label}}
        {{field}}
    </p>
    {% endfor %}
    <button id="addButton">Submit</button>
</form>

<!--

<script>
    formLogin.addEventListener('submit',e =>{
        e.preventDefault()
        console.log(e.target)
        testResponse(e.target)
    })

    async function testResponse(loginForm){
        form = new FormData(loginForm)
        console.log(form)
        response = await axios.post('/login', form)
    }
</script>

-->

{% endblock %}