    {% macro create_mod_card(mod) %}
    <div class="card border-primary mt-3 max-content">
        <a href="{{ url_for('get_mod', mod_id = mod.id) }}" class="recordCard">
            <div class="card-header">
                <h5 class="card-title">Title: {{mod.title}}</h5>
                <h6 class="card-subtitle">Date Added: {{mod.date_updated}}</h6>
            </div>
        </a>
    </div>
    {% endmacro %}

    {% macro create_record_card(record) %}
        <div class="card border-primary mt-3 max-content">
            <a href="{{ url_for('get_record', record_id = record.id) }}" class="recordCard">
                <div class="card-header">
                    <h5 class="card-title">User: {{record.user.username}}</h5>
                    <h6 class="card-subtitle">Mod: {{record.mod.title}}</h6>
                </div>
            </a>
        </div>
    {% endmacro %}

    {% macro create_user_object(user, count) %}
    {% endmacro %}

    {% macro create_comment_card(comment) %}
    <p>
        <div class="card" style="width:40%">
            <div class="card-header flex-row">
                <a href="{{ url_for('get_user', user_id = comment.sender.id) }}" class="col-sm-2">
                    <img class="commentAvatar" src="{{comment.sender.image_url}}">
                </a>
                <article class="col-sm-12">User: {{comment.sender.username}}</article>
            </div>
            <div class="card-body">
                <p class="col-sm-10 card-text">{{comment.text}}</p>
                <span class="col-sm-2">Sent: {{comment.time}}</span>
            </div>
        </div>
    </p>
    {% endmacro %}