    {% macro create_mod_object(mod) %}
    {% endmacro %}

    {% macro create_record_card(record) %}
        <div class="card border-primary mt-3" style="width:max-content">
            <div class="card-header">
                <a href="{{ url_for('get_user', user_id = record.user.id) }}">
                    User: {{record.user.username}}
                </a>
            </div>
            <div class="card-body">
                <a href="{{ url_for('get_record', record_id = record.id) }}">
                    Record: {{record.mod.title}}
                </a>
            </div>
        </div>
    {% endmacro %}

    {% macro create_user_object(user, count) %}
    {% endmacro %}