{% extends 'base.html' %}
{% from 'macros.html' import create_record_card with context %}

{% block content %}
<!--
    <div id="modInfo" class="searchedMod" mod_id="{{mod.id}}">
        <p id="dir">{{mod.category}}</p>
        <h2>
            {{mod.title}}
        </h2>
        <a href="{{ url_for('get_mod', mod_id = mod.id) }}" id="title">Idgames Source</a>
        <p id="author">Author: {{mod.author}}</p>
        <p id="date_uploaded">Date Uploaded: {{mod.date_uploaded}}</p>
        <p id="date_updated">Date Updated: {{mod.date_updated}}</p>
        <p id="description">{{mod.description}}</p>
        <p id="rating">Rating: {{mod.rating}}   Votes: {{mod.rating_count}}</p>

    </div>
-->
    <div class="card"  style="width:70%">
        <div class="card-header">
            <span card="card-title">
                <h2>{{mod.title}}
                    <a href="{{mod.url}}">
                        <img class="idImage" src="/static/images/idgamesFavicon.png">
                    </a>
                </h2>
            </span>
        </div>
        <div class="card-body d-flex flex-row flexWrap">
            <p class="flexContainer d-flex flex-wrap">
                <span class="card-text">Author: {{mod.author}}</span>
                <span class="card-text">Category: {{mod.category}}</span>
                <span class="card-text">Date Uploaded: {{mod.date_uploaded}}</span>
                <span class="card-text">Date Updated: {{mod.date_updated}}</span>
                <span class="card-text">Rating: {{mod.rating * 20}}%({{mod.rating_count}} votes)</span>
            </p>
            <article>{{mod.description}}</article>
        </div>
        {% if g.user %}
        <p><form action="{{ url_for('get_mod', mod_id = mod.id) }}" method="POST">
            <button id="addModButton">Add to Records</button>
        </form></p>
        {% endif %}
    </div>
    <p>
        <h2>Records:</h2>
        {% for record in mod.records %}
            {{ create_record_card(record) }}
            <!--
                <div class="card border-primary mt-3" style="width:max-content">
                    <div class="card-header">
                        <a href="{{ url_for('get_user', user_id = record.user.id) }}">
                            User: {{record.user.username}}
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="{{ url_for('get_record', record_id = record.id) }}">
                            Record:
                        </a>
                    </div>
                </div>
            -->
        {% endfor %}
    </p>

    <form action="{{ url_for('mod_list')}}" style="margin-bottom:20px;" method="GET">
        <button>Return to Mods</button>
    </form>

    <script src="/static/mod.js"></script>

{% endblock %}