{% extends 'base.html' %}

{% block content %}
    <div id="modInfo" mod_id="{{mod.id}}">
        <p id="dir">{{mod.category}}</p>
        <a href="{{ url_for('get_mod', mod_id = mod.id) }}" id="title">{{mod.title}}</a>
        <p id="author">Author: {{mod.author}}</p>
        <p id="date_uploaded">{{mod.date_uploaded}}</p>
        <p id="date_updated">{{mod.date_updated}}</p>
        <p id="description">{{mod.description}}</p>
        <p id="rating">Rating: {{mod.rating}}   Votes: {{mod.rating_count}}</p>

    </div>
    <div>
        <h2>Records:</h2>
        {% for record in mod.records %}
            <p><a href="{{ url_for('get_record', record_id = record.id) }}">{{record.user.username}} - {{mod.title}}</a></p>
        {% endfor %}
    </div>
    {% if g.user %}
        <form action="{{ url_for('get_mod', mod_id = mod.id) }}" method="POST">
            <button id="addModButton">Add to Records</button>
        </form>
    {% endif %}
    <form action="{{ url_for('mod_list')}}", method="GET">
        <button>Back</button>
    </form>

    <script src="/static/mod.js"></script>

{% endblock %}