{% from 'macros.html' import create_record_card with context %}
{% extends 'base.html' %}

{% block content %}
<h2><u>Records:</u></h2>
    {% for user in users %}
    <div class="flex-column d-flex">
      <div class="row">
        <div class=""">
          <div class="card flex-row mt-3 maxContent">
          <a href="{{ url_for('get_user', user_id = user.id) }}">    
              <img class="smallAvatar col-sm-4" src="{{user.image_url}}">
          </a>
          <p class="userText">{{user.username}}</p>
        </div>
      </div>
        <div class="">
          <button>Reveal</button>
        </div>
      </div>
      <div>
          <ul class="noBullets">
          {% for record in user.records %}
              <li>{{create_record_card(record)}}</li>
          {% endfor %}
          </ul>
      </div>
    </div>
    {% endfor %}
{% endblock %}