{% extends 'base.html' %}

{% block content %}

{{ form.hidden_tag() }}
<h2>Register:</h2>
<form method="POST" id="formRegister">
    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{field.label}}
        {{field}}
    </p>
    {% endfor %}
    <button id="addButton">Submit</button>
    
</form>
<form action="{{ url_for('front_page')}}", method="GET">
    <button>Back</button>
</form>

{% endblock %}