{% extends 'base.html'  %}

{% block content %}

<!--
<h1 class="display-1">Pull mods.</h1>

    <form name="formSearch" id="formSearch" method="POST">

    {{ form.hidden_tag() }}

    <p> Search {{ form.query }} in {{ form.type}} </p>
    <p> Sort {{form.sort}} {{form.dir}} </p>
    <button class="btn btn-success" type="submit">Submit</button>

    </form>

    -->

    <form name="formSearch" id="formSearch" method="POST">

        <p>
            Search
            <input id="query" minlength="3" name="query" required="" type="text">
            in
            <select id="type" name="type">
                <option value="title">Title</option>
                <option value="filename">Filename</option>
                <option value="author">Author</option>
                <option value="e-mail">E-mail</option>
                <option value="description">Description</option>
                <option value="credits">Credits</option>
                <option value="editors">Editors</option>
                <option value="whole textfile">Whole_textfile</option>
            </select>
        </p>

        <p>
            Sort
            <select id="sort" name="sort">
                <option value="date">Date</option>
                <option value="filename">Filename</option>
                <option value="author">Author</option>
                <option value="title">Title</option>
                <option value="size">Size</option>
                <option value="rating">Rating</option>
            </select>
            <select id="dir" name="dir">
                <option value="desc">desc</option>
                <option value="asc">asc</option>
            </select>
        </p>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>

    <div id="modContainer"></div>

<script src="/static/app.js"></script>
{% endblock %}

# Add axios to submit.