{% extends 'base.html'  %}

{% block content %}


<h2 class="display-5">Pull mods</h2>

    <form class="searchForm" name="formSearch" id="formSearch" method="POST">

    {{ form.hidden_tag() }}

    <p> Search {{ form.query }} in {{ form.type}} </p>
    <p> Sort {{form.sort}} {{form.dir}} </p>
    <button class="btn btn-success" type="submit">Submit</button>

    </form>

    <div id="modContainer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

    {% raw %} <!--Tells Jinja to ignore this code.-->
    <script id="htmlTemplate" type="text/x-handlebars-template">
        {{#each file}}
        <form name="formMod" id="formMod-{{id}}" class="searchedMod" method="POST">
            <p class="hiddenValue" id="id">{{id}}</p>
            <p class="hiddenValue" id="url">{{url}}</p>
            <p class="hiddenValue" id="dir">{{dir}}</p>
            <h2><a href="{{url}}" id="title" class="title" name="title">{{title}}</a></h2>
            <p id="author">Author: {{author}}</p>
            <p id="date">Release Date: {{date}}</p>
            <p id="description">{{description}}</p>
            {{#if votes}}
                <p id="rating">{{rating}} of 5</p>
                <p id="votes">{{votes}} ratings</p>
            {{/if}}
            <button class= "modButton pullMod">Pull Mod</button>
            <button class= "modButton addMod">Add Mod</button>
        </form>
        {{else}}
            <p>No file found.  Please check if you typed your search in correctly.</p>
        {{/each}}

    </script>
    {% endraw %}


<script src="/static/search.js"></script>
{% endblock %}

# In the Search page, I will make a call to Idgames, and that will use Axios to return
JSON that will be transformed into a mod object via JavaScript.

# In the Mods page, I will be pulling mod info for each mod from the database.
  This info will be passed from the database, into Flask, and loaded in Jinja.