{% extends 'base.html'  %}

{% block content %}

<h2>Pull Doom mods from Idgames archive:</h2>
  <p class="hintText" id="hintText"></p>
    <form class="searchForm" name="formSearch" id="formSearch" method="POST">
    {{ form.hidden_tag() }}
        <p> Search {{ form.query }} in {{ form.type}} </p>
        <p> Sort {{form.sort}} {{form.dir}} </p>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>

    <div id="modContainer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

    {% raw %} <!--Tells Jinja to ignore this code.-->
        <script id="htmlTemplate" type="text/x-handlebars-template">
            {{#each file}}
            <form name="formMod" id="formMod-{{id}}" class="searchedMod card" method="POST">
                <p class="hiddenValue valuePull" id="search-id" json="id" val="{{id}}">{{id}}</p>
                <p class="hiddenValue valuePull" id="search-url" json="url" val="{{url}}">{{url}}</p>
                <p class="hiddenValue valuePull" id="search-dir" json="dir" val="{{dir}}">{{dir}}</p>
                <div class="card-header">
                    <h2><a href="{{url}}" id="search-title"  json="title" val="{{title}}" class="title valuePull">{{title}}</a></h2>
                </div>
                <div class="card-body d-flex flex-row">
                    <ul class="d-flex flex-column flex-wrap col-sm-3 noBullets">
                        <li class="valuePull" json="author" val="{{author}}"><b>Author:</b> {{author}}</li>
                        <li class="valuePull" json="date" val="{{date}}"><b>Release Date:</b> {{date}}</li>
                        {{#if votes}}
                            <li class="valuePull" id="search-rating" json="rating" val="{{rating}}"><b>Score:</b> {{rating}} of 5</li>
                            <li class="valuePull" id="search-votes" json="votes" val="{{votes}}">{{votes}} ratings</li>
                        {{/if}}
                    </ul>
                    <div class="col-sm-9">
                        <h3>Description:</h3>
                        <div class="mod-description">
                          <p class="valuePull scrollBar" json="description" val="{{description}}">{{description}}</p>
                        </div> 
                    </div>
                </div>
                <div class="card-body">
                    <button class="modButton pullMod btn btn-primary">Pull Mod</button>
                    <button class="modButton addMod btn btn-primary">Add Mod</button>
                </div>
            </form>
            {{else}}
                <p>No file found.  Please check if you typed your search in correctly.</p>
            {{/each}}
        </script>
    {% endraw %}
    <script src="/static/search.js"></script>
{% endblock %}