{% extends 'base.html' %}
{% from 'macros.html' import create_record_card with context %}
{% from 'macros.html' import create_comment_card with context %}

{% block content %}
    <u><h2>User Profile:</h2></u>
    <div class="card max-content" userid="{{user.id}}">
        <div class="card-body d-flex flex-column">
            <div class="d-flex flex-row">
                <img class="largeAvatar col-sm-4" src={{user.image_url}}>
                <ul class="col-sm-8">
                    <li>Name: {{user.username}}</li>
                    <li>Date Joined: {{user.date_joined}}</li>
                </ul>
            </div>
            {% if g.user.id == user.id %}
            <form action="{{ url_for('edit_user', user_id = user.id) }}" method="GET">
                <button id="editUserButton" class="btn btn-primary btnPadding">Edit Profile</button>
            </form>
            {% endif %}
        </div>
    </div>

    <p>
        <div id="userRecords">
            <h2>User's Mods</h2>
            {% for record in user.records %}
                {{ create_record_card(record)}}
            {% endfor %}
        </div>
    </p>
        <h2>Comments: </h2>
        <div id="userComments">
                {% for comment in comments %}
                    {{ create_comment_card(comment) }}
                {% endfor %}
        </div>
    {% if g.user %}
        <h3>Write Comment:</h3>
        <form id="commentForm" method="POST">
            <p><textarea id="commentText"></textarea></p>
            <button class="btn btn-primary">Send Comment</button>
        </form>
    {% endif %}
    
    <p>
        <form action="{{ url_for('user_list')}}" method="GET">
            <button class="btn btn-secondary btnPadding">Return to Users</button>
        </form>
    </p>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/static/user.js"></script>
    {% raw %}
    <script id="commentTemplate" type="text/x-handlebars-template">
            <div class="card commentCard">
                <div class="card-header flex-row">
                <a href="/users/{{user_id}}" class="col-sm-2">
                    <img class="smallAvatar" src="{{pfp}}">
                </a>
                <article class="col-sm-12">User: {{sender}}</article>
                </div>
                <div class="card-body">
                    <p class="col-sm-10 card-text">{{text}}</p>
                    <span class="col-sm-2">Sent: {{time}}</span>
                </div>
            </div>
    </script>
    {% endraw %}

{% endblock %}