{% extends 'base.html' %}
{% from 'macros.html' import create_record_card with context %}

{% block content %}
    <div id="userInfo" userid="{{user.id}}">
        <p id="userName">Name: {{user.username}}</p>
        <p id="dateJoined">Date Joined: {{user.date_joined}}</p>
        <p><img src={{user.image_url}}></p>
    </div>
    {% if g.user %}
    <form action="{{ url_for('edit_user', user_id = user.id) }}" method="GET">
        <button id="editUserButton">Edit Profile</button>
    </form>
    {% endif %}
    <div id="userRecords">
        <h2>User's Mods</h2>
        {% for record in user.records %}
            {{ create_record_card(record)}}
        {% endfor %}
    </div>
    <h2>Comments: </h2>
    <div id="userComments">
        {% for comment in comments %}
            <p>{{comment.sender.username}}: {{comment.text}} {{comment.time}}</p>
        {% endfor %}
    </div>
    {% if g.user %}
        <h3>Write Comment:</h3>
        <form id="commentForm" method="POST">
            <p><textarea id="commentText"></textarea></p>
            <button>Send Comment</button>
        </form>
    {% endif %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/static/user.js"></script>
    {% raw %}
    <script id="commentTemplate" type="text/x-handlebars-template">
            <p>{{sender}}: {{text}} {{time}}</p>
    </script>
    {% endraw %}

{% endblock %}